*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #323232;
    color: lightgrey;
}

.scores{
    padding: 40px;    
}

.scores ul{
    font-size: 26px;
    list-style: none;
}
